#SonicDiv {
    position: absolute;
    z-index: 9;
    text-align: center;
 }

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.spriteAnime{
    background: url('https://cdn.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker/capguy-walk.png');
    
    width: calc(1472px/8);
    height: 325px;
    animation-name: walking-anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

.spriteStand{
    /*-webkit-transform: rotate(360deg);*/
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/StandStill_Sonic.png");
    background-color: white;
    width: calc(300px/5);
    height: 85px;
    animation-name: sonic-standing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5);
}

.spriteCrouch{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Crouch_Sonic.png");
    width: calc(301px/4);
    height: 85px;
    animation-name: sonic-crouch;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

.spriteRun1{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Run1_Sonic.png");
    width: calc(670px/8);
    height: 91px;
    animation-name: sonic-run1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

.spriteRun2{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Run2Edit_Sonic.png");
    width: calc(624px/8);
    height: 91px;
    animation-name: sonic-run2;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

.spriteRun2Reverse{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Run2Reverse_Sonic.png");
    width: calc(624px/8);
    height: 91px;
    animation-name: sonic-run2;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

.spriteJump{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Jump_Sonic.png");
    width: 81px;
    height: 91px;
    animation-name: sonic-jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

.spriteFlying{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Flying_Sonic.png");
    width: calc(184px/2);
    height: 91px;
    animation-name: sonic-flying;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

.spriteBall{
    background: url("http://18.222.254.142/html/Lab3AngularCreative/images/SonicImages/Ball_Sonic.png");
    width: calc(282px/4);
    height: 88px;
    animation-name: sonic-ball;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

@keyframes walking-anime{
    from{
        background-position: 0px;
    } to{
        background-position: -1472px;
    }
}


@keyframes sonic-standing{
    from{
        background-position: 0px;
    } to{
        background-position: -327px;
    }
}


@keyframes sonic-crouch{
    from{
        background-position: 0px;
    } to{
        background-position: -301px;
    }
}

@keyframes sonic-run1{
    from{
        background-position: 0px;
    } to{
        background-position: -670px;
    }
}


@keyframes sonic-run2{
    from{
        background-position: 0px;
    } to{
        background-position: -624px;
    }
}


@keyframes sonic-jump{
    from{
        background-position: 0px;
    } to{
        background-position: -81px;
    }
}

@keyframes sonic-flying{
    from{
        background-position: 0px;
    } to{
        background-position: -184px;
    }
}

@keyframes sonic-ball{
    from{
        background-position: 0px;
    } to{
        background-position: -282px;
    }
}